
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('./font/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body, .section, .mix-title, .mix-meta, .cta-button, .mix-card, .mix-info, .section-title, .nav, .about-text, .slideshow, .soundcloud-player {
  font-family: 'Montserrat Alternates', Arial, sans-serif !important;
}




